[Unit]
Description=Controller Service for OpenStack:JUNO
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=10
ExecStartPre=-/usr/bin/docker kill controller
ExecStartPre=-/usr/bin/docker rm controller
ExecStartPre=/bin/bash -c "MYIPADDR=$(ifconfig eth3 | awk '/ inet / {print $2}'); \
/usr/bin/etcdctl set /OPENSTACK/CONTROLLER/IPADDR $MYIPADDR"
ExecStart=/usr/bin/docker run --hostname=controller --privileged=true \
--name controller \
--env HA_MODE=L3_HA \
--env TIME_ZONE=Asia/Seoul \
--env ADMIN_TOKEN=ADMIN \
--env REGION_NAME=RegionOne \
--env MYSQL_ROOT_PASSWORD=openstack \
--env KEYSTONE_DBPASS=openstack \
--env GLANCE_DBPASS=openstack \
--env NOVA_DBPASS=openstack \
--env NEUTRON_DBPASS=openstack \
--env RABBIT_PASS=rabbitpass \
--env ADMIN_TENANT_NAME=service \
--env ADMIN_PASS=adminpass \
--env DEMO_PASS=demopass \
--env KEYSTONE_PASS=keystonepass \
--env GLANCE_PASS=glancepass \
--env NOVA_PASS=novapass \
--env NEUTRON_PASS=neutronpass \
--publish 3306:3306 \
--publish 5672:5672 \
--publish 35357:35357 \
--publish 5000:5000 \
--publish 9292:9292 \
--publish 8773:8773 \
--publish 8774:8774 \
--publish 8775:8775 \
--publish 80:80 \
--publish 6080:6080 \
--publish 9696:9696 \
--publish 9191:9191 \
-v /etc/localtime:/etc/localtime \
-v /continuse:/continuse \
-v /continuse/shared/mysql:/data \
-v /continuse/shared/glance:/var/lib/glance \
continuse/openstack-controller:juno
ExecStop=-/usr/bin/docker stop controller

[X-Fleet]
MachineMetadata=role=controller
