[Unit]
Description=Compute %i for OpenStack:JUNO
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=alway
RestartSec=0
ExecStartPre=-/usr/bin/docker kill compute
ExecStartPre=-/usr/bin/docker rm compute
ExecStart=/bin/bash -c "\
MYIPADDR=$(ifconfig eth3 | awk '/ inet / {print $2}'); \
TUNNEL_IP=$(ifconfig eth2 | awk '/ inet / {print $2}'); \
/usr/bin/docker run --net=host --privileged=true \
--name compute \
--env ETCDCTL_PEERS=192.168.10.11:4001,192.168.10.12:4001,192.168.10.13:4001,192.168.10.14:4001 \
--env HA_MODE=L3_HA \
--env RABBIT_PASS=rabbitpass \
--env MYIPADDR=$MYIPADDR \
--env TUNNEL_IP=$TUNNEL_IP \
--env ADMIN_TENANT_NAME=service \
--env NOVA_PASS=novapass \
--env NEUTRON_PASS=neutronpass \
--env REGION_NAME=RegionOne \
--env INTERFACE_NAME=eth1 \
-v /etc/localtime:/etc/localtime \
-v /continuse:/continuse \
-v /continuse/shared/nova:/var/lib/nova/instances \
-v /lib/modules:/lib/modules \
continuse/openstack-compute:juno"
ExecStop=-/usr/bin/docker exec compute ovs-vsctl del-br br-int
ExecStop=-/usr/bin/docker exec compute ovs-vsctl del-br br-tun
ExecStop=-/usr/bin/docker exec compute ovs-vsctl del-br br-ex
ExecStop=-/usr/bin/docker stop compute

[X-Fleet]
Conflicts=controller*
Conflicts=network*
Conflicts=compute*
Conflicts=nova-docker*
